@font-face {
  font-family: 'Brigends Expanded';
  src: url('../font/Brigends Expanded.otf') format('truetype');
}
@font-face {
  font-family: 'Helvetica Bold';
  src: url('../font/Helvetica-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica light';
  src: url('../font/helvetica-light-587ebe5a59211.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica';
  src: url('../font/Helvetica.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *{
  font-family: "Poppins", serif;
 }

body {
    font-family: "Poppins", serif;
    margin: 0;
  }
  .actions{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .actions form{
    margin-top: 0;
    margin-left: -10rem;
  }
  .actions a{
    margin-top: 1rem;
    margin-left: 6rem;
  }
  *{
    font-family: "Helvetica", sans-serif;
  }
  h1 {
    color: #f384b0;
    font-family: "Brigends Expanded", serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 10900;
  }
  h2{
    color: #f384b0;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: -.5rem;
  }
  a{
    font-family: 'Helvetica Bold';
    text-decoration: none;
    color: #6e0932;
    border-radius: 12px;
    padding:.8rem 2rem;
    background-color: #f56da3;
    margin-left: 15%;
  }
  .name{
    color: #000;
    margin-left: 0;
  }
  form {
    margin: 2rem;
    background-color: #f384b0;
    width: 50%;
    height: 120%;
    padding: 2rem;
    border-radius: 24px;
  }
  
  label {
    display: block;
  }
  
  input, textarea, button {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 12px;
    border: none;
  }
  
  button {
    background-color: #f5c6cb;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f56da3;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .images{
    color: #721c24;
    background-color: #fff;
  }
  .centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .product {
    padding: 10px;
    margin: 15px;
    width: 250px;
    border-radius: 12px;
    background-color: #f384b0;
  }
  
  .product img {
    width: 100%;
    height: 13rem;
    border-radius: 12px;
    margin-bottom: -2rem;
  }
  
  .alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .btn-ini{
    padding: .3rem 1rem;
    border-radius: 100%;
  }
  .color-box{
    margin-top: -4rem;
  }
  .precio{
    background-color: #000;
    border-radius: 1rem;
    margin-left: 70%;
    width: 4rem;
    height: 1.5rem;
    color: #f384b0;
    text-align: center;
    padding-top: .5rem;
  }

  .btn-update{
    margin-left: 0;
    font-size: 1rem;
    padding: .5rem;
  }
  .btn-delete{
    margin-top: 3rem;
    margin-left: 0;
    padding: 0;
    border: 0;
    width: 5rem;
    padding: .5rem;
  }
  .form-eliminar{
    margin-left: 0;
    padding: 0;
    width: 0;
    height: 0;
    background-color: #00000000;
  }
  .btn-cancel{
    margin-top: 5rem;
    margin-left: 0;
  }

  .Guardar{
    margin-bottom: 2rem;
  }
  .agregar{
    margin-bottom: 2rem;
  }
  
  @media (max-width: 650px) {
    .product{
      width: 12rem;
      height: 22rem;
    }
    .pro-ad{
      height: 35rem;
    }
  }

  @media (max-width: 570px) {
    .actions form{
      margin-top: -2rem;
    }
  }
  @media (max-width: 480px) {
    .product{
      width: 10rem;
      height: 20rem;
    }
    .product img{
      height: 10rem;
    }
    .name{
      font-size: 1.3rem;
      margin-bottom: -1.1rem;
      width: 100%;
    }
    .color-box{
      margin-top: -.2rem;
      margin-bottom: -1rem;
    }
    .precio{
      margin-left: 50%;
    }
    .pro-ad{
      height: 32rem;
    }
    .btn-delete{
      margin-left: 1rem;
      font-size: .8rem;
    }
    .actions a{
      margin-left: 5rem;
      font-size: .8rem;
    }
  }
  @media (max-width: 420px) {
    h1{
      font-size: 1.5rem;
    }
    .product{
      width: 8rem;
      height: 18rem;
    }
    .product img{
      height: 10rem;
    }
    .name{
      font-size: 1.1rem;
      margin-bottom: -1.1rem;
      width: 100%;
    }
    .color-box{
      margin-top: -.2rem;
      margin-bottom: -1rem;
    }
    .precio{
      margin-left: 50%;
    }
    .pro-ad{
      height: 34rem;
    }
    .btn-delete{
      margin-top: 5.5rem;
      margin-left: 3.5rem;
      font-size: .8rem;
    }
    p{
      margin-top: 1rem;
      font-size: .9rem;
    }
    .actions a{
      margin-left: 0rem;
      font-size: .8rem;
    }
  }
  @media (max-width: 360px) {
    .product{
      width: 6rem;
      height: 16rem;
    }
    .product img{
      height: 7rem;
    }
    .name{
      font-size: 1.1rem;
      margin-bottom: -1.1rem;
      width: 100%;
    }
    .color-box{
      margin-top: -.2rem;
      margin-bottom: -1rem;
    }
    .precio{
      margin-left: 40%;
    }
    .pro-ad{
      width: 7.8rem;
      height: 32rem;
    }
    .product p{
      margin-top: 1rem;
      font-size: .8rem;
    }
  }
  @media (max-width: 340px) {
    .name{
      font-size: 1.2rem;
    }
  }
