@font-face {
  font-family: 'Brigends Expanded';
  src: url('../font/Brigends Expanded.otf') format('truetype');
}
@font-face {
  font-family: 'Helvetica Bold';
  src: url('../font/Helvetica-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica light';
  src: url('../font/helvetica-light-587ebe5a59211.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica';
  src: url('../font/Helvetica.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *{
  font-family: "Poppins", serif;
 }

body {
    font-family: "Poppins", serif;
    margin: 0;
  }
  .actions{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .actions form{
    margin-top: 0;
    margin-left: -10rem;
  }
  .actions a{
    margin-top: 1rem;
    margin-left: 6rem;
  }
  *{
    font-family: "Helvetica", sans-serif;
  }
  h1 {
    color: #f384b0;
    font-family: "Brigends Expanded", serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 10900;
  }
  h2{
    color: #f384b0;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: -.5rem;
  }
  a{
    font-family: 'Helvetica Bold';
    text-decoration: none;
    color: #6e0932;
    border-radius: 12px;
    padding:.8rem 2rem;
    background-color: #f56da3;
    margin-left: 15%;
  }
  .name{
    color: #000;
    margin-left: 0;
  }
  form {
    margin: 2rem;
    background-color: #f384b0;
    width: 50%;
    height: 120%;
    padding: 2rem;
    border-radius: 24px;
  }
  
  label {
    display: block;
  }
  
  input, textarea, button {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 12px;
    border: none;
  }
  
  button {
    background-color: #f5c6cb;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f56da3;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .images{
    color: #721c24;
    background-color: #fff;
  }
  .centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .product {
    padding: 10px;
    margin: 15px;
    width: 250px;
    border-radius: 12px;
    background-color: #f384b0;
  }
  
  .product img {
    width: 100%;
    height: 13rem;
    border-radius: 12px;
    margin-bottom: -2rem;
  }
  
  .alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .btn-ini{
    padding: .3rem 1rem;
    border-radius: 100%;
  }
  .color-box{
    margin-top: -4rem;
  }
  .precio{
    background-color: #000;
    border-radius: 1rem;
    margin-left: 70%;
    width: 4rem;
    height: 1.5rem;
    color: #f384b0;
    text-align: center;
    padding-top: .5rem;
  }

  .btn-update{
    margin-left: 0;
    font-size: 1rem;
    padding: .5rem;
  }
  .btn-delete{
    margin-top: 3rem;
    margin-left: 0;
    padding: 0;
    border: 0;
    width: 5rem;
    padding: .5rem;
  }
  .form-eliminar{
    margin-left: 0;
    padding: 0;
    width: 0;
    height: 0;
    background-color: #00000000;
  }
  .btn-cancel{
    margin-top: 5rem;
    margin-left: 0;
  }

  .Guardar{
    margin-bottom: 2rem;
  }
  .agregar{
    margin-bottom: 2rem;
  }
  
  @media (max-width: 800px) {
   .product{
    display: flex;
    width: 80%;
    height: 13rem;
    position: relative;
   }
   .product img{
    max-width: 100%;
    width: auto;
   }
   .pro{
    margin-left: 2rem;
   }
   .precio{
    margin-left: 100%;
   }
   .pre{
    position: absolute;
    margin-left: 20%;
    margin-top: -1rem;
   }
   .pro-cen{
    margin-top: -1rem;
    margin-right: 8rem;
   }
   .pro-cen p {
    margin-top: -2rem;
    margin: .5rem;
    font-size: .7rem !important;
    width: 7rem;
   }
   .actions{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .pro-ad img{
    margin-left: -5rem;
  }
  .actions form{
    margin-top: 0;
    margin-left: 1rem;
  }
  .actions a{
    margin-top: 1rem;
    margin-left: 3rem;
  }
  }
  @media (max-width: 650px) {
    .product img{
      width: 36%;
      height: 100%;
    }
    .product{
      display: flex;
      width: 80%;
      height:10rem;
      position: relative;
     }
     .pre{
      position: absolute;
      margin-left: 20%;
      margin-top: -2rem;
     }
     .pro{
      margin-top: -2rem;
     }
     .pro-ad h3{
      margin-top: 1rem;
      margin-bottom: -.5rem;
     }
     .actions form{
      margin-top: -2rem;
      margin-left: 0rem;
    }
    .actions a{
      margin-top: 1rem;
      margin-left: 0rem;
    }
  }
  @media (max-width: 600px) {
    .actions form{
      margin-top: -2rem;
      margin-left: -1rem;
    }
    .actions a{
      margin-top: 1rem;
      margin-left: 1rem;
    }
  }
  @media (max-width: 570px) {
    .actions form{
      margin-top: -2rem;
    }
    .pro-ad img{
      margin-left: -7rem;
    }
  }
  @media (max-width: 470px) {
    h1{
      font-size: 1.5rem;
    }
    .product{
      display: flex;
      width: 80%;
      height:13rem;
      position: relative;
     }
     .product img{
      width: 50%;
      height: 100%;
    }
    .pre{
      position: absolute;
      margin-left: 0%;
      margin-top: -1rem;
     }
     .pro-ad img{
      margin-left: -10rem;
      width: 30%;
      height: 70%;
     }
     .pro-ad{
      height: 10rem;
     }
  }
  @media (max-width: 340px) {
    .product{
      display: flex;
      width: 80%;
      height:10rem;
      position: relative;
     }
     .product img{
      width: 50%;
      height: 100%;
    }
    .pre{
      position: absolute;
      margin-left:-10%;
      margin-top: -1rem;
     }
     .pro{
      margin-top: -2rem;
      margin-left: 1rem;
     }
     h2{
      font-size: 1.3rem;
     }
     p{
      margin-top: .1rem;
      font-size: 1rem;
     }
      .pro-ad img{
      margin-left: -10rem;
      width: 30%;
      height: 70%;
     }
     .pro-ad{
      height: 10rem;
     }
     .actions form{
      font-size: .8rem;
      margin-top: -2rem;
      margin-left: -1rem;
    }
    .actions a{

      font-size: .8rem;
      margin-top: 1rem;
      margin-left: 1rem;
    }
  }
  @media (min-width: 1440px) {
    .product{
      width: 20%;
      height: 35rem;
      margin-top: 3rem;
     }
     .product img{
      height: 70%;
    }
    .pro-ad img{
      height: 12rem;
    }
    .pro-ad{
      width: 200px;
    }
  }